<%-include('dash-header') -%>

<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
  <!-- <img src="/static/assets/mylogo.ico" alt="" class="imglogo"> -->
  </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#" role="button" aria-expanded="false">
            Home
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            My Profile
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">
              <h5>USER PROFILE: <%= locals.user?user:'No email found'  %></h5>
            </a></li>
            <li><hr class="dropdown-divider">
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">KodeGo MP2</a>
        </li>
      </ul>

      <!-- Search -->
      <form class="d-flex" role="search" id="search">
        <input class="form-control me-2" type="search" placeholder="Search..." aria-label="Search">
        <button class="btn" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

  <!-- <header>
  <ul>
    <li>
      <img src="/static/assets/mylogo.ico" alt="">
        <h5>USER PROFILE: <%= locals.user?user:'No email found'  %></h5>
    </li>
  <li>
      <form id="form"></form>
      <input 
      type="text" 
      id="search" 
      placeholder="Search..." class="search">
  </li>
  <li class="logout">
    <a href="/logout">Logout</a>
  </li>
  </ul>
  </header> -->

<!-- <div class="container">
      <video loop src="/static/video/Money.webm" autoplay muted></video>
      
    </div> -->
    <BR></BR>

  <main id="main" class="main">
    
  </main>

    <!-- <div class="text-center center-div mt-5" id="login">

      <div class="container w-25 border py-5 mt-5">
        <h3>Dashboard</h3>
        <h5><%= locals.user?user:'No email found'  %></h5> -->
<!-- <a href="/logout">Logout</a>
</div>
    </div> -->
<%-include('dash-footer') -%>
